@import 'navbar';

@mixin openModal {
    animation-name: modalOpen;
	animation-duration: 1s;

	@keyframes modalOpen {
		from {opacity: 0}
		to {opacity: 1}
	}
}

* {
	box-sizing: border-box;
}

body {
	width: 1400px;
	margin: auto;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}

.first-screen {
	margin-top: 73px;
	height: 640px;
	max-width: 1400px;
	width: 100vw;
	padding: 105px 135px 150px 150px;
	background-image: url(../images/first-screen.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;

	&:after {
      content: '';
      clear: both;
    }
}

.showcase {
	float: left;
	color: #fff;
	font-family: 'Raleway', sans-serif;

	&__header {
		text-transform: uppercase;
		font-size: 36px;
		font-weight: inherit;
	}

	&__subheader {
		width: 500px;
		font-size: 1rem;
		font-weight: 300;
		line-height: 23px;
	}

	&__btn {
		display: inline-block;
		margin-top: 30px;
		text-decoration: none;
		color: #fff;
		font-size: 15px;
		font-weight: bold;
		font-family: 'Open Sans', sans-serif;
		padding: 10px 35px;
		border: 2px solid #fff;
		@include easeOut;

		&:hover {
			border: 2px solid #d7f2fb;
			box-shadow: 0 0 20px 10px rgba(72, 94, 116, 0.7);
			text-shadow: 0px 0px 10px rgba(255,255,255,1);
		}
	}
}


.signup {
	float: right;
	height: 360px;
	width: 360px;
	text-align: center;
	background: #fff;
	border-radius: 5px;
	margin-top: 35px;
	margin-right: 25px;

	&__header {
		font-size: 20px;
		color: #333;
		font-weight: bold;
		background: #f3f3f3;
		padding: 10px 0;
		margin: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&__free {
		color: #ff984c;
		text-transform: uppercase;
	}

	&__form {
		padding: 0 50px 35px 35px;
		text-align: left;
	}

	&__input {
		border: none;
		border-bottom: 1px solid #bdbdbd;
		width: 100%;
		padding: 10px;
		margin-top: 40px;
		font-size: 14px;

		&:focus {
			outline: none;
		}
	}

	&__footer {
		background: #ff9744;
		margin-top: 10px;
		padding: 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&__submit {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 15px;
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	@include openModal;

	&__closebtn {
		color: #fff;
		float: right;
		font-size: 50px;
		margin-right: 5%;
		cursor: pointer;
		@include easeOut;

		&:hover {
			text-shadow: 0px 0px 10px rgba(255,255,255,1);
		}
	}

	&__signup {
		height: 360px;
		width: 360px;
		text-align: center;
		background: #fff;
		border-radius: 5px;
		margin: 20% auto;
	}

	&__signup-header {
		font-size: 20px;
		color: #333;
		font-weight: bold;
		background: #f3f3f3;
		padding: 10px 0;
		margin: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	&__signup-free {
		color: #ff984c;
		text-transform: uppercase;
	}

	&__signup-form {
		padding: 0 50px 35px 35px;
		text-align: left;
	}

	&__signup-input {
		border: none;
		border-bottom: 1px solid #bdbdbd;
		width: 100%;
		padding: 10px;
		margin-top: 40px;
		font-size: 14px;

		&:focus {
			outline: none;
		}
	}

	&__signup-footer {
		background: #ff9744;
		margin-top: 10px;
		padding: 15px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	&__signup-submit {
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 15px;
	}
}



@import 'adaptive';
