@import 'config';
@import 'navbar';


* {
	box-sizing: border-box;
}

body {
	width: 1400px;
	margin: auto;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}

.first-screen {
	margin-top: 73px;
	height: 640px;
	@include width;
	padding: 105px 135px 150px 150px;
	background-image: url(../images/first-screen.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;

	&:after {
      content: '';
      clear: both;
    }
}

@import 'showcase';
@import 'signup';
@import 'modal';
@import 'brandbar';

.features {
    @include width;
}

@import 'tabs';
@import 'sublist';
@import 'standpic';
@import 'about';
@import 'pricing';
@import 'testimonials';
@import 'custom';
@import 'contact';
@import 'footer';
@import 'adaptive';
