.about {
	/*
	@include width;
	padding: 100px 140px;
	text-align: center;
	*/

	&__holder {
		@include width;
		margin: auto;
		padding: 100px 140px;
		text-align: center;
	}

	&__header {
		@include title-decoration;
	}

	&__divider_orange {
		width: 64px;
		margin: 25px auto;
	}

	&__subheader {
		margin: 20px 0;
		@include text-decoration;
	}

	&__main {
		margin-top: 80px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
		grid-gap: 30px;
	}

	&__icon {
		margin: auto;
		color: #ff8421;
		height: 70px;
		width: 70px;
		border: 2px solid #ff8421;
		border-radius: 50%;
		padding: 15px 8px;
	}

	&__title {
		font-size: 20px;
		line-height: 24px;
		color: #333;
	}

	&__desc {
		@include text-decoration;
	}
}
